.recommendation { 
  background-color: var(--background-color2);
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.recommendationContainer{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 30px 0px 30px 0px;
  width: 90vw;
}

.recommendationtitle {
  
  margin-bottom: 10px;
  
}

.recommendationCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.loadMore{
  align-self: center;
  background-color: var(--principal-color);
  border: 1.4px solid var(--principal-color);
  border-radius: 5px;
  color: var(--background-white);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin: 30px 0px 0 0px;
  padding: 7px 0px 6px 0px;
  text-align: center;
  transition: 0.5s;
  width:30%
}

.loadMore:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transform: scale(0.97);
}

.loadMore:hover {
  background-color: var(--background-white);
  color: var(--principal-color);
} 

.loadMore:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transform: scale(0.98);
}

@media (max-width: 768px) {

  .recommendation {
    align-content: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .recommendation h4 {
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .recommendationCards {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .loadMore{
    width: 50%;
  }
  
  
}

@media (max-width: 480px) {

  .loadMore{
    width: 96%;
  }
  
}
